.task__plane {
    list-style-type: none;
}

.task__item--row {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-gap: 11px;
    align-content: center;
    font-size: 20px;
}

.task__item {
    margin: 5px 0;
    padding: 10px;
    list-style-type: none;
    min-height: 80px;
    font-weight: bold;
}