.button {
    color: rgb(255, 255, 255);
    background-color:hsl(180, 100%, 25%);
    border: none;
    padding: 10px;
    width: auto;
    margin: 10px;
    border-radius: 5px;
}

.button:hover {
    color: rgb(241, 232, 211);
    background-color: hsl(180, 100%, 40%);
    transition: 0.3s;
    transform: scale(1.1);
}

.form__field {
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 2px solid rgba(109, 77, 8, 0.555);
    border-radius: 5px;
    width: 70%;
    max-width: 70%;
    margin: 10px;
}

.form__select {
    color: rgb(0, 0, 0);
    padding: 0px;
    border: 2px solid rgba(109, 77, 8, 0.555);
    border-radius: 5px;
    width: 80px;
    max-width: 80%;
    margin: 5px;
}

.form__section--title {
    margin: 10px;
}

.form__title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.form__grid {
    display: grid;
    grid-template-columns: 2fr repeat(2, 150px);
    align-content: right;
    grid-gap: 20px;
    padding: 10px;
}

@media (max-width: 600px) {
    .form {
        padding: 25px;
    }

    .form__grid {

    grid-template-columns: 3fr;
  
}
}